{% extends "mp_vl_app_templates/base.html" %}


{# in <head> #}

{% block page_title %}
Mapping Violence Database
{% endblock page_title %}

{% block page_css %}
<style type="text/css">
    div#admin_info {
        margin-top: -2em;
        float: right;
    }
    p#data_links {
        margin-top: -.5em;
    }
    ul#data_bullet_section {
        margin-top: -1em;
    }
    hr {
        margin-top: 1em;
    }
    h1#page_title {
        margin-top: 1em;
    }
    p#message {
        margin-top: 1.5em;
    }
    span#db {
        /*visibility: hide;*/
        display: none;
    }
    p#under_construction {
        color: red;
        font-weight: bold;
        margin-top: -1.25em;
    }
</style>
{% endblock page_css %}


{# in <body> #}

{% block content %}

<div class="MuiContainer-root jss4 MuiContainer-maxWidthLg">

    <h1 id="page_title">Mapping Violence Database</h1>

    <div id="admin_info">
        <p id="under_construction">( under construction; the real site remains at: <a href="http://data.mappingviolence.org/">data.mappingviolence.org</a> )</p>
        <p id="data_links">Convenience-links to data-exports...</p>
        <ul id="data_bullet_section">
            <li><a href="{{ entry_url }}">Exported entry data</a></li>
            <li><a href="{{ entry_version_url }}">Exported entry_version data</a></li>
            <li><a href="{{ new_entry_url }}">Exported new_entry data</a></li>
        </ul>
    </div>

    <p id="message">Below are all the entries ever created by the Mapping Violence team.</p>

    <div class="data-pool">
        <button class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary" tabindex="0" type="button"><span class="MuiButton-label">Create New</span><span class="MuiTouchRipple-root"></span></button>
        <hr/>
        <table class="MuiTable-root">
            <thead class="MuiTableHead-root table-head">
                <tr class="MuiTableRow-root table-row MuiTableRow-head">
                    <th class="MuiTableCell-root MuiTableCell-head" scope="col"></th>
                    <th class="MuiTableCell-root MuiTableCell-head" scope="col">Title</th>
                    <th class="MuiTableCell-root MuiTableCell-head" scope="col">Date</th>
                    <th class="MuiTableCell-root MuiTableCell-head" scope="col">Description</th>
                </tr>
            </thead>
            <tbody class="MuiTableBody-root table-body">
                {% for record in data %}
                <tr class="MuiTableRow-root table-row MuiTableRow-hover">
                    <td><a href="{% url 'entry_url' record.id_clean %}">(edit)</a></td>
                    <td class="MuiTableCell-root table-cell MuiTableCell-body">
                    <div class="table-row-as-link-short-text">
                        {{ record.title }}
                    </div>
                    <div class="table-row-as-link-full-text">
                        {{ record.title }}
                    </div>
                    </td>
                    <td class="MuiTableCell-root table-cell MuiTableCell-body">
                    <div class="table-row-as-link-short-text">
                        {{ record.date_display }}
                    </div>
                    <div class="table-row-as-link-full-text">
                        {{ record.date_display }}
                    </div>
                    </td>
                    <td class="MuiTableCell-root table-cell MuiTableCell-body">
                    <div class="table-row-as-link-short-text">
                        {% if record.description %}
                            <em>{{ record.description|truncatewords:15 }}</em>
                        {% else %}
                            <em>Data Attribute Not Found</em>
                        {% endif %}
                    </div>
                    <div class="table-row-as-link-full-text">
                        {% if record.description %}
                            <em>{{ record.description|truncatewords:15 }}</em>
                        {% else %}
                            <em>Data Attribute Not Found</em>
                        {% endif %}
                    </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  <!-- end <div class="data-pool"> -->
</div>  <!-- end <div class="MuiContainer-root jss4 MuiContainer-maxWidthLg"> -->

{% endblock content %}
