{% extends "mp_vl_app_templates/base.html" %}


{# in <head> #}

{% block page_title %}
Mapping Violence Database
{% endblock page_title %}

{% block page_css %}
<style type="text/css">
    hr {
        margin-top: 1em;
    }
    h1#page_title {
        margin-top: 1em;
    }
    p#message {
        margin-top: 1.5em;
    }
    span#db {
        /*visibility: hide;*/
        display: none;
    }
    p#under_construction {
        color: red;
        font-weight: bold;
        margin-top: -1.25em;
    }
</style>
{% endblock page_css %}


{# in <body> #}

{% block content %}

<div class="MuiContainer-root jss4 MuiContainer-maxWidthLg">

    <h1 id="page_title">Mapping Violence Database</h1>
    <p id="under_construction">( under construction; the real site remains at: <a href="http://data.mappingviolence.org/">data.mappingviolence.org</a> )</p>

    <p id="message">Below are all the entries ever created by the Mapping Violence team.</p>

    <div class="data-pool">
        <button class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary" tabindex="0" type="button"><span class="MuiButton-label">Create New</span><span class="MuiTouchRipple-root"></span></button>
        <hr/>
        <table class="MuiTable-root">
            <thead class="MuiTableHead-root table-head">
                <tr class="MuiTableRow-root table-row MuiTableRow-head">
                    <th class="MuiTableCell-root MuiTableCell-head" scope="col">Title</th>
                    <th class="MuiTableCell-root MuiTableCell-head" scope="col">Date</th>
                    <th class="MuiTableCell-root MuiTableCell-head" scope="col">Description</th>
                </tr>
            </thead>
            <tbody class="MuiTableBody-root table-body">
                {% for record in data %}
                <tr class="MuiTableRow-root table-row MuiTableRow-hover">
                    <td class="MuiTableCell-root table-cell MuiTableCell-body">
                    <div class="table-row-as-link-short-text">
                        {{ record.title }}
                    </div>
                    <div class="table-row-as-link-full-text">
                        {{ record.title }}
                    </div>
                    </td>
                    <td class="MuiTableCell-root table-cell MuiTableCell-body">
                    <div class="table-row-as-link-short-text">
                        {{ record.date_display }}
                    </div>
                    <div class="table-row-as-link-full-text">
                        {{ record.date_display }}
                    </div>
                    </td>
                    <td class="MuiTableCell-root table-cell MuiTableCell-body">
                    <div class="table-row-as-link-short-text">
                        {% if record.description %}
                            <em>{{ record.description|truncatewords:15 }}</em>
                        {% else %}
                            <em>Data Attribute Not Found</em>
                        {% endif %}
                    </div>
                    <div class="table-row-as-link-full-text">
                        {% if record.description %}
                            <em>{{ record.description|truncatewords:15 }}</em>
                        {% else %}
                            <em>Data Attribute Not Found</em>
                        {% endif %}
                    </div>
                    </td>
                </tr>
                {% endfor %}

                <!--
                <tr class="MuiTableRow-root table-row MuiTableRow-hover">
                    <td class="MuiTableCell-root table-cell MuiTableCell-body">
                    <div class="table-row-as-link-short-text">
                        Test
                    </div>
                    <div class="table-row-as-link-full-text">
                        Test
                    </div>
                    </td>
                    <td class="MuiTableCell-root table-cell MuiTableCell-body">
                    <div class="table-row-as-link-short-text">
                        Early 2018
                    </div>
                    <div class="table-row-as-link-full-text">
                        Early 2018
                    </div>
                    </td>
                    <td class="MuiTableCell-root table-cell MuiTableCell-body">
                    <div class="table-row-as-link-short-text">
                        <em>Data Attribute Not Found</em>
                    </div>
                    <div class="table-row-as-link-full-text">
                        <em>Data Attribute Not Found</em>
                    </div>
                    </td>
                </tr>
                <tr class="MuiTableRow-root table-row MuiTableRow-hover">
                    <td class="MuiTableCell-root table-cell MuiTableCell-body">
                    <div class="table-row-as-link-short-text">
                        <em>Data Attribute Not Found</em>
                    </div>
                    <div class="table-row-as-link-full-text">
                        <em>Data Attribute Not Found</em>
                    </div>
                    </td>
                    <td class="MuiTableCell-root table-cell MuiTableCell-body">
                    <div class="table-row-as-link-short-text">
                        INVALID DATE
                    </div>
                    <div class="table-row-as-link-full-text">
                        INVALID DATE
                    </div>
                    </td>
                    <td class="MuiTableCell-root table-cell MuiTableCell-body">
                    <div class="table-row-as-link-short-text">
                        <em>Data Attribute Not Found</em>
                    </div>
                    <div class="table-row-as-link-full-text">
                        <em>Data Attribute Not Found</em>
                    </div>
                    </td>
                </tr>
                -->
            </tbody>
        </table>
    </div>  <!-- end <div class="data-pool"> -->
</div>  <!-- end <div class="MuiContainer-root jss4 MuiContainer-maxWidthLg"> -->

{% endblock content %}
