{% extends "mp_vl_app_templates/base.html" %}


{# in <head> #}

{% block page_title %}
Mapping Violence Entry
{% endblock page_title %}

{% block page_css %}
<style type="text/css">
    span.not_provided {
        color: red;
    }
    p#time_place_summary {
        font-style: italic;
    }
</style>
{% endblock page_css %}


{# in <body> #}

{% block content %}

<div class="MuiContainer-root jss4 MuiContainer-maxWidthLg">

    <h1 id="page_title">{{ data.title }}</h1>

    <p>
        Event type: {% if data.eventCategory %}{{ data.eventCategory }} {% else %} <span class="not_provided">not-provided</span> {% endif %}
    </p>

    <p>
        Time/Place summary: {{ data.date_display }} - {% if data.location %}{{ data.location }} {% else %} <span class="not_provided">location not-provided</span> {% endif %}
    </p>

    <p>
        Description: {{ data.description }}
    </p>

    <hr/>

    <!---------->

    <h2>Location</h2>

    <p>
        Place : {% if data.location %}{{ data.location }} {% else %} <span class="not_provided">not-provided</span> {% endif %}
    </p>

    <p>
        Coordinates (lat, lng): ( {{ data.latitude }}, {{ data.longitude }} )
    </p>

    <p>
        Rationale: {{ data.locationRationale }}
    </p>

    <hr/>

    <!---------->

    <h2 id="victims">Victims</h2>

    <table class="MuiTable-root">
        <thead class="MuiTableHead-root">
            <tr class="MuiTableRow-root MuiTableRow-head">
                <th class="MuiTableCell-root jss138 MuiTableCell-head" scope="col">name</th>
                <th class="MuiTableCell-root jss138 MuiTableCell-head" scope="col">race</th>
                <th class="MuiTableCell-root jss138 MuiTableCell-head" scope="col">ethnicity</th>
                <th class="MuiTableCell-root jss138 MuiTableCell-head" scope="col">nationality</th>
                <th class="MuiTableCell-root jss138 MuiTableCell-head" scope="col">gender</th>
                <th class="MuiTableCell-root jss138 MuiTableCell-head" scope="col">martialStatus</th>
                <th class="MuiTableCell-root jss138 MuiTableCell-head" scope="col">occupation</th>
                <th class="MuiTableCell-root jss138 MuiTableCell-head" scope="col">age</th>
                <th class="MuiTableCell-root jss138 MuiTableCell-head" scope="col">literacy</th>
            </tr>
        </thead>
        {% for victim in data.victims %}
        <tbody class="MuiTableBody-root">
            <tr class="MuiTableRow-root">
                <td class="MuiTableCell-root MuiTableCell-body">{{ victim.name }}</td>
                <td class="MuiTableCell-root MuiTableCell-body">{{ victim.race|join:" , " }}</td>
                <td class="MuiTableCell-root MuiTableCell-body">{{ victim.ethnicity|join:" , " }}</td>
                <td class="MuiTableCell-root MuiTableCell-body">{{ victim.nationality }}</td>
                <td class="MuiTableCell-root MuiTableCell-body">{{ victim.gender }}</td>
                <td class="MuiTableCell-root MuiTableCell-body">{{ victim.maritalStatus }}</td>
                <td class="MuiTableCell-root MuiTableCell-body">{{ victim.occupation }}</td>
                <td class="MuiTableCell-root MuiTableCell-body">{{ victim.age }}</td>
                <td class="MuiTableCell-root MuiTableCell-body">{{ victim.literacy }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        Number of victims: {% if data.number_of_victims %}{{ data.number_of_victims }} {% else %} {{ data.victims|length }} above {% endif %}
    </p>

    <p>
        Victims Category: {% if data.victims_category %}{{ data.victims_category }} {% else %} <span class="not_provided">not-provided</span> {% endif %}
    </p>

    <h2 id="aggressors">Aggressors</h2>

    <p>
        {% if data.aggressors %}{{ data.s|join:" , " }} {% else %} <span class="not_provided">aggressors not-provided</span> {% endif %}
    </p>

    <p>
        Aggressors category: {% if data.aggressorCategory %}{{ data.aggressorCategory|join:" , " }} {% else %} <span class="not_provided">not-provided</span> {% endif %}
    </p>

    <hr/>

    <!---------->

    <h2 id="metadata">Metadata</h2>

    <p>
        Women involved: {% if data.SOMETHING %}{{ data.SOMETHING|join:" , " }} {% else %} <span class="not_provided">not-provided</span> {% endif %}
    </p>

    <p>
        Types of violence: {% if data.typesOfViolence %}{{ data.typesOfViolence|join:" , " }} {% else %} <span class="not_provided">not-provided</span> {% endif %}
    </p>

    <p>
        Case Outcome Type: {% if data.SOMETHING %}{{ data.SOMETHING|join:" , " }} {% else %} <span class="not_provided">not-provided</span> {% endif %}
    </p>

    <p>
        Case Outcome Subtypes: {% if data.SOMETHING %}{{ data.SOMETHING|join:" , " }} {% else %} <span class="not_provided">not-provided</span> {% endif %}
    </p>

    <p>
        Alleged Crime(s): {% if data.allegedCrime %}{{ data.allegedCrime|join:" , " }} {% else %} <span class="not_provided">not-provided</span> {% endif %}
    </p>

    <p>
        Available Records: {% if data.SOMETHING %}{{ data.SOMETHING|join:" , " }} {% else %} <span class="not_provided">not-provided</span> {% endif %}
    </p>

    <hr/>

    <!---------->

    <h2 id="sources">Sources</h2>

    <p>
        Primary Sources: {% if data.primarySources %}{{ data.primarySources|join:" , " }} {% else %} <span class="not_provided">not-provided</span> {% endif %}
    </p>

    <p>
        Secondary Sources: {% if data.secondarySources %}{{ data.secondarySources|join:" , " }} {% else %} <span class="not_provided">not-provided</span> {% endif %}
    </p>

    <hr/>

    <!---------->

    <h2 id="researcher_notes">Researcher Notes</h2>

    <p>
        {% if data.SOMETHING %}{{ data.SHOMETHING }}{% else %}(none){% endif %}
    </p>


    <hr/>


    <div class="data-pool">
    </div>  <!-- end <div class="data-pool"> -->
</div>  <!-- end <div class="MuiContainer-root jss4 MuiContainer-maxWidthLg"> -->

{% endblock content %}
