{% extends "mp_vl_app_templates/base.html" %}


{# in <head> #}

{% block page_title %}
Mapping Violence Entry
{% endblock page_title %}

{% block page_css %}
<style type="text/css">
</style>
{% endblock page_css %}


{# in <body> #}

{% block content %}

<div class="MuiContainer-root jss4 MuiContainer-maxWidthLg">

    <h1 id="page_title">Entry</h1>
    <p>data coming</p>

    <div class="data-pool">
    </div>  <!-- end <div class="data-pool"> -->
</div>  <!-- end <div class="MuiContainer-root jss4 MuiContainer-maxWidthLg"> -->

{% endblock content %}
