{% extends "mp_vl_app_templates/base.html" %}


{# in <head> #}

{% block page_title %}
info
{% endblock page_title %}

{% block page_css %}
<style type="text/css">
    p#message {
        /*all: unset;*/
        /*all: initial;*/
        margin-top: 2em;
        margin-left: 2em;
        margin-bottom: 2em;
    }
    span#problem_message {
        font-style: red;
        font-weight: bold;
    }
</style>
{% endblock page_css %}


{# in <body> #}

{% block content %}

    {% if logged_in %}
    <p id="message">Click "Database" to view and edit data.</p>
    {% else %}
    <p id="message">
        Login to view and edit data.
        {% if problem_message %}
        -- <span id="problem">{{ problem_message }}</span>
        {% endif %}
    </p>
    {% endif %}

<hr/>

{% endblock content %}
